{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% set title = "Submit a Story" %}
{% extends "layout.html" %}

{% block content %}
<div class="create-story-page">
    <div class="box">
        <h3 class="box-title">Submit a Story</h3>

        {% include "partials/errors.html" %}

        <form method="POST">
            {% include "partials/csrf.html" %}

            {% include "partials/story_form.html" %}

            <br />
            <p class="text-center">
                Before submitting, please review our
                <a href="/auth/rules/">site rules</a>.
            </p>

            <button type="submit" class="button submit-button">Submit Story</button>
        </form>
    </div>
</div>
{% endblock %}
