{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% set title = "Login" %}
{% extends "layout.html" %}

{% block content %}
<div class="login box">
    <h3 class="box-title">Login</h3>

    <form method="POST">
        {% include "partials/csrf.html" %}

        <dl class="form-fields full-width login-form-fields">
            <dt><label for="username">Username</label></dt>
            <dd><input type="text" name="username" id="username"
                       value="{{ formData.username }}" /></dd>

            <dt><label for="password">Password</label></dt>
            <dd><input type="password" name="password" id="password" /></dd>

        </dl>

        <button type="submit" class="button submit-button">Login</button>
    </form>

    <p class="text-center">Don't have an account? <a href="/auth/register/">Register here!</a></p>
</div>
{% endblock %}
