{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% extends "layout.html" %}

{% block content %}
<div class="message-list-page">
    <div class="box">
        <h3 class="box-title">Messages</h3>
        {% for message in page.items %}
            <div class="message-stub">
                <a href="/m/{{ message.id }}" class="message-stub-link">
                    {{ message.message | truncate(25, true, "...") }}</a>

                <span class="message-stub-byline">
                    {{ moment(message.sent_at).fromNow() }} by {{ message.author }}
                </span>
            </div>
        {% endfor %}

        {% include "partials/pagination.html" %}
    </div>

    <div class="box" id="create-message-box">
        <h3 class="box-title">Create a new Message</h3>

        {% include "partials/errors.html" %}

        <form method="POST" enctype="application/x-www-form-urlencoded">
            {% include "partials/csrf.html" %}

            <dl class="form-fields message-form-fields">
                <dt><label for="recipient">Recipient</label></dt>
                <dd><input type="text" name="recipient" id="recipient"
                           maxlength="32" value="{{ formData.recipient }}" /></dd>

                <dt><label for="message">Message</label></dt>
                <dd><textarea name="message" id="message">{{ formData.message }}</textarea></dd>
            </dl>

            <button type="submit" class="button">Send Message</button>
        </form>
    </div>
</div>
{% endblock %}
