{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% set title = messages[0].message | truncate(25, true, "…") %}
{% extends "layout.html" %}

{% block content %}
<div class="message-thread-page">
    <div class="box">
        <h3 class="box-title">Message Thread</h3>
        {% for message in messages %}
            {% include "partials/message.html" %}
        {% endfor %}
    </div>

    <div class="box" id="reply-message-box">
        <h3 class="box-title">
            Reply to
            {% if messages[0].sender_id === user.id -%}
                {{ messages[0].recipient }}
            {%- else -%}
                {{ messages[0].author }}
            {%- endif %}
        </h3>

        {% include "partials/errors.html" %}

        <form method="POST" enctype="application/x-www-form-urlencoded">
            {% include "partials/csrf.html" %}
            <dl class="form-fields full-width message-reply-fields">
                <dt><label for="message">Message</label></dt>
                <dd><textarea name="message" id="message">{{ formData.message }}</textarea></dd>
            </dl>

            <button type="submit" class="button submit-button">Send Reply</button>
        </form>
    </div>
</div>
{% endblock %}
