{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% set title = "Register" %}
{% extends "layout.html" %}

{% block content %}
<div class="register box">
    <h3 class="box-title">Register</h3>

    {% include "partials/errors.html" %}

    <form method="POST">
        {% include "partials/csrf.html" %}

        <dl class="form-fields full-width register-fields">
            <dt><label for="username">Username</label></dt>
            <dd><input type="text" name="username" id="username" required
                       maxlength="32" value="{{ formData.username }}" />
                <p><small>Must be unique, and 32 characters at most.</small></p>
            </dd>

            <dt><label for="email">E-mail</label></dt>
            <dd><input type="email" name="email" id="email" required
                       value="{{ formData.username }}" />
                <p><small>We won't spam you. Used for password resets.</small></p>
            </dd>

            <dt><label for="password">Password</label></dt>
            <dd><input type="password" name="password" id="password" required
                       minlength="8" autocomplete="new-password" />
                <p><small>Minimum 8 characters.
                    <a target="_blank" href="https://correcthorsebatterystaple.net/">
                        Use a memorable password.</a>
                </small></p></dd>

            <dt><label for="verify">Verify</label></dt>
            <dd><input type="password" name="verify" id="verify" required
                       minlength="8" autocomplete="new-password" /></dd>
        </dl>

        <br />
        <p class="text-center">By registering, you agree to the
            <a href="/auth/rules/">DevNews Rules</a>.</p>

        <button type="submit" class="button submit-button">Register</button>
    </form>

    <p>Already have an account? <a href="/auth/login/">Login here.</a></p>
</div>
{% endblock %}
