{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% extends "layout.html" %}

{% block content %}
<div class="register box">
    <h3 class="box-title">Register</h3>

    <p>Before registering, please take a look at <a href="/auth/rules/">our rules</a>.</p>

    {% include "partials/errors.html" %}

    <form method="POST">
        {% include "partials/csrf.html" %}
        <label>Username: <input type="text" name="username" required
                                maxlength="32" value="{{ formData.username }}" />
        </label>
        <p><small>Must be unique, and 32 characters at most.</small></p>

        <label>E-mail: <input type="email" name="email" required
                              value="{{ formData.email }}" />
        </label>
        <p><small>We won't spam you. Used for password resets.</small></p>

        <label>Password: <input type="password" name="password" required
                                minlength="8" />
        </label>
        <p><small>Minimum 8 characters.
            <a target="_blank" href="https://correcthorsebatterystaple.net/">
                Use a memorable password.</a>
        </small></p>

        <label>Verify password: <input type="password" name="verify" required
                                       minlength="8" />
        </label>

        <button type="submit" class="button">Register</button>
    </form>

    <p>Already have an account? <a href="/auth/login/">Login here.</a></p>
</div>
{% endblock %}
