{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% extends "layout.html" %}

{% block content %}
<div class="rules box">
    <h3 class="box-title">DevNews Rules</h3>

    <ul>
        <li>Be respectful to one another.</li>
        <li>Spam is not permitted, and neither is blatant content marketing.
            Do not use the site solely to advertise your content.</li>
        <li>Submitted stories should be related to hardware or software.</li>
        <li>Pornographic content and content that violates the laws of the country
            where DevNews is hosted are not allowed.</li>
    </ul>
</div>
{% endblock %}
