{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

{% extends "layout.html" %}

{% block content %}
<div class="story-page {% if story.text %}has-text{% endif %}">
    {% include "partials/story.html" %}

    {% if story.text %}
    <div class="story-content">
        {{ story.text_html | safe }}
    </div>
    {% endif %}

    {% if user %}
    <div class="story-create-comment box">
        <h3 class="box-title">Create a Comment</h3>

        <form method="POST" action="/s/{{ story.short_url }}/comment">
            <textarea name="comment"></textarea>
            {# Show a rule reminder to users newer than 7 days old. #}
            {% if (now() - user.registered_at) < (7 * 60 * 60 * 24 * 1000) %}
                <p><small>If you haven't, would you mind checking <a href="/auth/rules/">our rules</a>?</small></p>
            {% endif %}
            <button type="submit" class="button">Comment</button>
        </form>
    </div>
    {% endif %}

    <div class="story-comments box">
        <h3 class="box-title">Comments</h3>

        {% for comment in comments %}
            {% include "partials/comment.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
