{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

<div class="comment" id="c_{{ comment.short_url }}">
    <form method="POST" action="/c/{{ comment.short_url }}/vote">
        {% include "partials/csrf.html" %}
        <button {% if preview %} type="button" {% else %} type="submit" {% endif %}
            class="vote-button {% if comment.user_voted %}voted{% endif %}">
            {% if comment.user_voted %}Unvote{% else %}Vote{% endif %}
        </button>
    </form>
    <div class="comment-info">
        <span class="comment-score">
            {{ comment.score }} point{% if comment.score !== 1 %}s{% endif %}
        </span>
        <a class="comment-date" href="/c/{{ comment.short_url }}">
            {{ moment(comment.commented_at).fromNow() }}</a>
        by
        <a href="/u/{{ comment.username }}">{{ comment.username }}</a>

        {# comment.user_read being undefined won't match. #}
        {% if comment.user_read === false %}
            <span class="comment-unread">(unread)</span>
        {% endif %}
    </div>
    <div class="comment-contents">
        {{ comment.comment_html | safe }}
    </div>

    {% if not preview %}
        <div class="comment-children">
            {% set parent = comment %}
            {% for comment in parent.children %}
                {% include "partials/comment.html" %}
            {% endfor %}
        </div>
    {% endif %}
</div>
