{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

<header>
    <div class="header-logo">
        <div class="logo"><a href="/">DevNews<span class="_">_</span></a></div>
        <div class="slogan">The best place for technology news</div>
    </div>
    <nav role="navigation" class="header-nav">
        <span class="header-nav-left">
            <a class="header-nav-link" href="/">Home</a>
            <a class="header-nav-link long" href="/recent/">Recent Stories</a>
            <a class="header-nav-link short" href="/recent/">Recent</a>
            <a class="header-nav-link long" href="/comments/">Newest Comments</a>
            <a class="header-nav-link short" href="/comments/">Comments</a>

            <a class="header-nav-link long submit-link" href="/s/">Submit a Story!</a>
            <a class="header-nav-link short submit-link" href="/s/">Submit!</a>
        </span>

        <span class="header-nav-right">
            {% if user %}
                <a class="header-nav-link" href="/settings/">{{ user.username }}</a>
                <a class="header-nav-link" href="/m/">Messages</a>
                <a class="header-nav-link" href="/auth/logout/">Logout</a>
            {% else %}
                <a class="header-nav-link" href="/auth/login/">Login</a>
            {% endif %}
        </span>

    </nav>
</header>
    
