{# -*- mode: web -*- #}
{# -*- engine: nunjucks -*- #}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{% if title %}{{ title }} - {% endif %}DevNews</title>

        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        {% include "header.html" %}
        <main>
            {% block content %}
                You must extend content!
            {% endblock %}
        </main>
        {% include "footer.html" %}
    </body>
</html>
